body {
  background: url("images/girl2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  color: rgb(218, 110, 110);
  resize: both;
  padding: 0px;
}
.left {
  border: 0px solid rgb(13, 87, 116);
  display: inline-block;
  position: absolute;
  left: 40px;
  top: 20px;
}
.mid {
  border: 0px solid yellow;
  display: block;
  width: 33%;
  margin: 20px auto;
  font: 1em sans-serif;
}
.right {
  border: 0px solid rgb(126, 65, 225);
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar {
  display: flex;
}
.navbar li {
  display: inline-block;
}
.navbar li a {
  color: rgb(238, 235, 247);
  text-decoration: none;
  padding: 15px;
}
.navbar li a:hover,
.navbar li a:active {
  text-decoration: underline;
  color: grey;
}
.left img {
  width: 85px;
}
.left div {
  text-align: center;
  line-height: 29px;
  font-size: 26px;
}
.btn {
  margin: 0px 10px;
  background-color: black;
  color: rgb(241, 216, 216);
  padding: 2px 24px;
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
  height: 23px;
}
.btn:hover {
  background-color: rgb(184, 79, 79);
}
.logo {
  color: wheat;
}
.container {
  margin: 120px;
  margin-left: 1px;
  padding: 10px;
  border-radius: 10px;
  width: 500px;
}
.container h2 {
  text-align: center;
  color: rgba(240, 198, 14, 0.952);
  font-size: 28px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.formgroup input {
  text-align: center;
  display: block;
  width: 350px;
  padding: 5px;
  border: 0px solid red;
  margin: 5px auto;
  border-radius: 5px;
  font-size: 15px;
  background-color: rgb(100, 54, 54);
  cursor: pointer;
}

.container button {
  display: block;
  margin: 10px auto;
  width: 350px;
  height: 40px;
  font-size: 20px;
  color: rgb(22, 2, 2);
  background-color: rgb(79, 184, 97);
}
